<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="master.html"/>
    <head>
        <title>${_("Search Devices")}</title>
    </head>
    <body>
      <form name='search' action='/reports/view_devices'>
        ${_("Device: ")}  <input type='text' name='device' size='32'/>
        <input type='submit' name='search'/>
      </form>
    </body>
</html>
