<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="master.html"/>
    <head>
        <title>${_("Search Profiles")}</title>
    </head>
    <body>
      <form name='search' action='/reports/view_profiles'>
        ${_("System or vendor: ")} <input type='text' name='profile' size='32'/><br/>
        <p>${_("Hide unrated profiles:")} <input type='checkbox' name='not_rated' value='0'/></p>
        <input type='submit' name='search'/>
      </form>
    </body>
</html>
