<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <script src="/tg_widgets/turboflot/excanvas.js" type="text/javascript"></script><script src="/tg_widgets/turboflot/jquery.js" type="text/javascript"></script><script src="/tg_widgets/turboflot/jquery.flot.js" type="text/javascript"></script>
    <link media="screen" href="/tg_widgets/turbogears.widgets/tabber/tabber.css" type="text/css" rel="stylesheet"/>
    <title>Stats</title>
  </head>
  <body>
    <script src="/tg_widgets/turbogears.widgets/tabber/tabber-minimized.js" type="text/javascript"></script>
    <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
      <tr>
        <th valign="top" width="25%">Total Registered Hosts</th>
        <td><strong>${stat['total_hosts']}</strong></td>
      </tr>
      <tr>
        <th valign="top">Total Registered Devices</th>
        <td><strong>${stat['registered_devices']}</strong></td>
      </tr>
      <tr>
        <th valign="top">Total bogomips</th>
        <td><strong>${stat["bogomips_total"]}</strong></td>
      </tr>
      <tr>
        <th valign="top">Total processors</th>
        <td><strong>${stat["cpus_total"]}</strong></td>
      </tr>
      <tr>
        <th valign="top">Total MHz</th>
        <td><strong>${stat["cpu_speed_total"]}</strong></td>
      </tr>
    </table>
    <div class="tabber">

    <py:if test='template_config["archs"]'>
      <div class="tabbertab"><h2>Archs</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr><th>Arch</th><th>Count</th><th>% of total</th><th halign="left"> </th></tr>
          <tr py:for='arch in stat["archs"]'>
            <th align="right">${arch.platform}</th>
            <td align="center">${arch.cnt}</td>
            <td><strong>${'%.1f' % (float(arch.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(arch.cnt) / total_hosts * 100 }'><div width='100%' id="bar"></div></td><td width='${ 100 - (float(arch.cnt) / total_hosts * 100) }'></td></tr></table></td>
          </tr>
        </table>
        <!--${ET(flot['archs'].display())}-->
      </div>
      </py:if>

      <py:if test='template_config["os"]'>
      <div class="tabbertab"><h2>OS</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='OS in stat["os"]'>
            <th align="right"><a href="${getOSWikiLink(OS.os)}">${OS.os}</a></th>
            <td align="center">${OS.cnt}</td>
            <td><strong>${'%.1f' % (float(OS.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(OS.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["runlevel"]'>
      <div class="tabbertab"><h2>Runlevel</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='rl in stat["runlevel"][:-1]'>
            <th align="right">${rl.runlevel}</th>
            <td align="center">${rl.cnt}</td>
            <td><strong>${'%.1f' % (float(rl.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(rl.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["lang"]'>
      <div class="tabbertab"><h2>Language</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='lang in stat["language"]'>
            <th align="right">${lang.language}</th>
            <td align="center">${lang.cnt}</td>
            <td><strong>${'%.1f' % (float(lang.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(lang.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

     <py:if test='template_config["vendors"]'>
      <div class="tabbertab"><h2>Vendor</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='vendor in stat["vendors"]'>
            <th align="right">${vendor.vendor}</th>
            <td align="center">${vendor.cnt}</td>
            <td><strong>${'%.1f' % (float(vendor.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(vendor.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["model"]'>
      <div class="tabbertab"><h2>Model</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='system in stat["systems"]'>
            <!-- Temporary solution to a silly problem -->
            <th align="right">${system.system.split(' Not')[0].split(' To be')[0].split('System Version')[0]}</th>
            <td align="center">${system.cnt}</td>
            <td><strong>${'%.1f' % (float(system.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(system.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["ram"]'>
      <div class="tabbertab"><h2>RAM</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='mem in stat["sys_mem"]'>
            <th align="right">${mem[0]}</th>
            <td align="center">${mem[1]}</td>
            <td><strong>${'%.1f' % (float(mem[1]) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(mem[1]) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["swap"]'>
      <div class="tabbertab"><h2>Swap</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='mem in stat["swap_mem"]'>
            <th align="right">${mem[0]}</th>
            <td align="center">${mem[1]}</td>
            <td><strong>${'%.1f' % (float(mem[1]) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(mem[1]) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["cpu"]'>
      <div class="tabbertab"><h2>CPU</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr><th colspan="4">Speed (MHz)</th></tr>
          <tr py:for='cpu_speed in stat["cpu_speed"]'>
            <th align="right">${cpu_speed[0]}</th>
            <td align="center">${cpu_speed[1]}</td>
            <td><strong>${'%.1f' % (float(cpu_speed[1]) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(cpu_speed[1]) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
          <tr><th colspan="4">Number of CPUs</th></tr>
          <tr py:for='num_cpus in stat["num_cpus"]'>
            <th align="right">${num_cpus.num_cpus}</th>
            <td align="center">${num_cpus.cnt}</td>
            <td><strong>${'%.1f' % (float(num_cpus.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(num_cpus.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
          <tr><th colspan="4">CPU Vendor</th></tr>
          <tr py:for='cpu_vendor in stat["cpu_vendor"]'>
            <th align="right">${cpu_vendor.cpu_vendor}</th>
            <td align="center">${cpu_vendor.cnt}</td>
            <td><strong>${'%.1f' % (float(cpu_vendor.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(cpu_vendor.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
          <tr><th colspan="4">Bogomips</th></tr>
          <tr py:for='bogomips in stat["bogomips"]'>
            <th align="right">${bogomips[0]}</th>
            <td align="center">${bogomips[1]}</td>
            <td><strong>${'%.1f' % (float(bogomips[1]) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(bogomips[1]) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["kernel"]'>
      <div class="tabbertab"><h2>Kernel</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='kernel_version in stat["kernel_version"]'>
            <th align="right">${kernel_version.kernel_version}</th>
            <td align="center">${kernel_version.cnt}</td>
            <td><strong>${'%.1f' % (float(kernel_version.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(kernel_version.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["formfactor"]'>
      <div class="tabbertab"><h2>Form Factor</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr py:for='formfactor in stat["formfactor"]'>
            <th align="right">${formfactor.formfactor}</th>
            <td align="center">${formfactor.cnt}</td>
            <td><strong>${'%.1f' % (float(formfactor.cnt) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(formfactor.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

      <py:if test='template_config["selinux"]'>
      <div class="tabbertab"><h2>Selinux</h2>
        <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
          <tr><th colspan="4">SELinux Enabled</th></tr>
          <tr py:for='enabled in stat["selinux_enabled"]'>
            <th align="right">${enabled.enabled}</th>
            <td align="center">${enabled.count}</td>
            <td><strong>${'%.1f' % (float(enabled.count) / total_hosts * 100) } %</strong></td>
            <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(enabled.count) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
          <tr><th colspan="4">SELinux Enforce</th></tr>
          <tr py:for='enforce in stat["selinux_enforce"]'>
            <th py:if="enforce" align="right">${enforce.enforce}</th>
            <td py:if="enforce" align="center">${enforce.count}</td>
            <td py:if="enforce"><strong>${'%.1f' % (float(enforce.count) / total_hosts * 100) } %</strong></td>
            <td py:if="enforce"><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(enforce.count) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
          <tr><th colspan="4">SELinux Policy</th></tr>
          <tr py:for='policy in stat["selinux_policy"]'>
            <th py:if="policy" align="right">${policy.policy}</th>
            <td py:if="policy" align="center">${policy.count}</td>
            <td py:if="policy"><strong>${'%.1f' % (float(policy.count) / total_hosts * 100) } %</strong></td>
            <td py:if="policy"><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(policy.count) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
          </tr>
        </table>
      </div>
      </py:if>

       <py:if test='template_config["filesystem"]'>
       <div class="tabbertab"><h2>Filesystems</h2>
            <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr py:for='filesystems in stat["filesystems"]'>
                    <th align="right">${filesystems.fs_type}</th>
                    <td align="center">${filesystems.cnt}</td>
                    <td><strong>${'%.1f' % (float(filesystems.cnt) / float(stat["total_fs"]) * 100) } %</strong></td>
                    <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(filesystems.cnt) / float(stat["total_fs"]) * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
                </tr>
                 <tr><th colspan="4">Filesystems size</th></tr>
                <tr py:for='combined_fs_size in stat["combined_fs_size"]'>
                    <th align="right">${combined_fs_size[0]}</th>
                    <td align="center">${combined_fs_size[1]}</td>
                    <td><strong>${'%.1f' % (float(combined_fs_size[1]) / float(stat["total_fs"]) * 100) } %</strong></td>
                    <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(combined_fs_size[1]) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
                </tr>
            </table>
        </div>
        </py:if>
       <py:if test='template_config["mythrole"]'>
        <div class="tabbertab"><h2>Myth Role</h2>
            <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr py:for='myth_systemrole in stat["myth_systemrole"]'>
                    <th align="right">${myth_systemrole.myth_systemrole}</th>
                    <td align="center">${myth_systemrole.cnt}</td>
                    <td><strong>${'%.1f' % (float(myth_systemrole.cnt) / total_hosts * 100) } %</strong></td>
                    <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(myth_systemrole.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
                </tr>
            </table>
        </div>
        </py:if>

       <py:if test='template_config["mythremote"]'>
         <div class="tabbertab"><h2>Myth Remote</h2>
            <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr py:for='mythremote in stat["mythremote"]'>
                    <th align="right">${mythremote.mythremote}</th>
                    <td align="center">${mythremote.cnt}</td>
                    <td><strong>${'%.1f' % (float(mythremote.cnt) / total_hosts * 100) } %</strong></td>
                    <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(mythremote.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
                </tr>
            </table>
        </div>
        </py:if>

       <py:if test='template_config["myththeme"]'>
         <div class="tabbertab"><h2>Myth  Theme</h2>
            <table id="stats" width="100%" border="0" cellpadding="3" cellspacing="3">
                <tr py:for='myththeme in stat["myththeme"]'>
                    <th align="right">${myththeme.myththeme}</th>
                    <td align="center">${myththeme.cnt}</td>
                    <td><strong>${'%.1f' % (float(myththeme.cnt) / total_hosts * 100) } %</strong></td>
                    <td><table border='0' cellpadding='0' cellspacing='0'><tr><td width='${ float(myththeme.cnt) / total_hosts * 100 }'><div id="bar"></div></td><td></td></tr></table></td>
                </tr>
            </table>
        </div>
        </py:if>
    </div>

  </body>
</html>
