<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Smolt</title>
  </head>
  <body>
    <h2>${_('Lookup')}</h2>
    <form method='GET' action='/show'>
      ${_('Enter your profile UUID:')} <input type='text' name='uuid' size='32'/>
    </form>
    <p></p>
    <h2>${_('Statistics')}</h2>
    <ul>
      <li>${_('Host based statistics:')} <a href='/static/stats/stats.html'>/stats</a></li>
      <li>${_('Device based statistics:')} <a href='/static/stats/devices.html'>/devices</a></li>
      <li>${_('Recent Activity:')} <a href='/reports/recent'>/recent</a></li>
      <li>${_('Host Ratings:')} <a href='/reports/host_ratings'>/host_ratings</a></li>
      <li>${_('Device Ratings:')} <a href='/reports/device_ratings'>/device_ratings</a></li>

    </ul>
    <p>
    ${_("For detailed statistics about the devices in the database see &lt;a href='/static/stats/stats.html'&gt;/stats&lt;/a&gt; or &lt;a href='/static/stats/devices.html'&gt;/devices&lt;/a&gt;")}
    </p>
    <h2> ${_('Top Vendor Chart')} </h2>
    ${ET(vendorFlot.display())}
    <p> </p>
    <p> </p>
    <h2>${_('More info')}</h2>
    <!-- This one too! -ynemoy-->
    ${_("&lt;p&gt;Browse and search the &lt;a href='/wiki/'&gt;Wiki&lt;/a&gt; for detailed information about specific devices. Usage and other general answers can also be found at the &lt;a href='/wiki/'&gt;Wiki&lt;/a&gt;.&lt;/p&gt;")}
  </body>
</html>
