<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Smolt</title>
  </head>
  <body>
    <h2>${_('Lookup')}</h2>
    <form method='GET' action='/show'>
      ${_('Enter your profile UUID:')} <input type='text' name='uuid' size='32'/>
    </form>
    <p></p>
    <h2>${_('Statistics')}</h2>
    <p>
    <!-- This line refuses to let me run gettext on it! -ynemoy-->
    For detailed statistics about the devices in the database see <a href='/static/stats/stats.html'>/stats</a> or <a href='/static/stats/devices.html'>/devices</a>
    </p>
    <h2> ${_('Top Vendor Chart')} </h2>
    ${ET(vendorFlot.display())}
    <p> </p>
    <p> </p>
    <h2>${_('More info')}</h2>
    <!-- This one too! -ynemoy-->
    <p>Browse and search the <a href="/wiki/">Wiki</a> for detailed information about specific devices.
    Usage and other general answers can also be found at the <a href="/wiki/">Wiki</a>.</p>
  </body>
</html>
