<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Smolt</title>
  </head>
  <body>
    <h2>${_('Lookup')}</h2>
    <form method='GET' action='/show'>
      ${_('Enter your profile UUID:')} <input type='text' name='uuid' size='32'/>
    </form>
    <p></p>
    <h2>${_('Statistics')}</h2>
    <ul>
      <li>${_('Host based statistics:')} <a href='/static/stats/stats.html'>/stats</a></li>
      <li>${_('Device based statistics:')} <a href='/static/stats/devices.html'>/devices</a></li>
      <li>${_('Recent Activity:')} <a href='/reports/recent'>/recent</a></li>
      <li>${_('Host Ratings:')} <a href='/reports/host_ratings'>/host_ratings</a></li>
      <li>${_('Device Ratings:')} <a href='/reports/device_ratings'>/device_ratings</a></li>
      <li>${_('Search Devices:')} <a href='/reports/search_devices'>/search_devices</a></li>
      <li>${_('Search Profiles:')} <a href='/reports/search_profiles'>/search_profiles</a></li>
      <li>${_('Smolt Wiki:')} <a href='/smolt-wiki/'>/smolt-wiki</a></li>
    </ul>
    <p>
    ${_("For detailed statistics about the devices in the database see &lt;a href='/static/stats/stats.html'&gt;/stats&lt;/a&gt; or &lt;a href='/static/stats/devices.html'&gt;/devices&lt;/a&gt;")}
    </p>
  </body>
</html>
